# vim:fileencoding=utf-8:ft=conf:foldmethod=marker

include {{ kitty_subconfig_directory }}/01-fonts.conf
include {{ kitty_subconfig_directory }}/02-cursor-customization.conf
include {{ kitty_subconfig_directory }}/03-scrollback.conf
include {{ kitty_subconfig_directory }}/04-mouse.conf
include {{ kitty_subconfig_directory }}/05-performance-tuning.conf
include {{ kitty_subconfig_directory }}/06-terminal-bell.conf
include {{ kitty_subconfig_directory }}/07-window-layout.conf
include {{ kitty_subconfig_directory }}/08-tab-bar.conf
include {{ kitty_subconfig_directory }}/09-color-scheme.conf
include {{ kitty_subconfig_directory }}/10-advanced.conf
include {{ kitty_subconfig_directory }}/11-os-specific-tweaks.conf
include {{ kitty_subconfig_directory }}/12-keyboard-shortcuts.conf
include {{ kitty_subconfig_directory }}/13-layout.conf
