# ----------------------------------------------------------------
# Desktop Environment
# ----------------------------------------------------------------

# Show Desktop Environment version
#
# Default: 'on'
# Values:  'on', 'off'
# Flag:    --de_version

de_version="{{ neofetch_de_version }}"
