# ----------------------------------------------------------------
# Image Options
# ----------------------------------------------------------------

# Image loop
# Setting this to on will make neofetch redraw the image constantly until
# Ctrl+C is pressed. This fixes display issues in some terminal emulators.
#
# Default:  'off'
# Values:   'on', 'off'
# Flag:     --loop

image_loop="{{ neofetch_image_loop }}"

# Thumbnail directory
#
# Default: '~/.cache/thumbnails/neofetch'
# Values:  'dir'

thumbnail_dir="{{ neofetch_image_thumbnail_dir }}"

# Crop mode
#
# Default:  'normal'
# Values:   'normal', 'fit', 'fill'
# Flag:     --crop_mode
#
# See this wiki page to learn about the fit and fill options.
# https://github.com/dylanaraps/neofetch/wiki/What-is-Waifu-Crop%3F

crop_mode="{{ neofetch_image_crop_mode }}"

# Crop offset
# Note: Only affects 'normal' crop mode.
#
# Default:  'center'
# Values:   'northwest', 'north', 'northeast', 'west', 'center'
#           'east', 'southwest', 'south', 'southeast'
# Flag:     --crop_offset

crop_offset="{{ neofetch_image_crop_offset }}"

# Image size
# The image is half the terminal width by default.
#
# Default: 'auto'
# Values:  'auto', '00px', '00%', 'none'
# Flags:   --image_size
#          --size

image_size="{{ neofetch_image_size }}"

# Gap between image and text
#
# Default: '3'
# Values:  'num', '-num'
# Flag:    --gap

gap={{ neofetch_image_gap }}

# Image offsets
# Only works with the w3m backend.
#
# Default: '0'
# Values:  'px'
# Flags:   --xoffset
#          --yoffset

yoffset={{ neofetch_image_yoffset }}
xoffset={{ neofetch_image_xoffset }}

# Image background color
# Only works with the w3m backend.
#
# Default: ''
# Values:  'color', 'blue'
# Flag:    --bg_color

background_color={{ neofetch_image_background_color }}
