# ----------------------------------------------------------------
# IP Address
# ----------------------------------------------------------------

# Website to ping for the public IP
#
# Default: 'http://ident.me'
# Values:  'url'
# Flag:    --ip_host

public_ip_host="{{ neofetch_ip_public_host }}"

# Public IP timeout.
#
# Default: '2'
# Values:  'int'
# Flag:    --ip_timeout

public_ip_timeout={{ neofetch_ip_timeout }}
