# =========================================
#
#
#  ██████╗ ██╗ ██████╗ ██████╗ ███╗   ███╗
#  ██╔══██╗██║██╔════╝██╔═══██╗████╗ ████║
#  ██████╔╝██║██║     ██║   ██║██╔████╔██║
#  ██╔═══╝ ██║██║     ██║   ██║██║╚██╔╝██║
#  ██║     ██║╚██████╗╚██████╔╝██║ ╚═╝ ██║
#  ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝     ╚═╝
#
#
# =========================================                                      

@include "{{ picom_config_directory }}/config.d/shadows.conf"
@include "{{ picom_config_directory }}/config.d/fading.conf"
@include "{{ picom_config_directory }}/config.d/transparency_opacity.conf"
@include "{{ picom_config_directory }}/config.d/background_blurring.conf"
@include "{{ picom_config_directory }}/config.d/general.conf"
