[bar/top]

width = {{ polybar_bars_top_width }}
height = {{ polybar_bars_top_height }}
radius = {{ polybar_bars_top_radius }}
monitor = ${env:MONITOR:}
bottom = false
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3pt

border-size = {{ polybar_bars_top_border_size }}
border-color = ${colors.padding}

padding-left = 0
padding-right = 1

module-margin = 1

separator = {{ polybar_bars_top_separator }} 
separator-foreground = ${colors.disabled}

modules-left = {{ polybar_bars_top_modules_left }}
modules-right = {{ polybar_bars_top_modules_right }}

font-0 = monospace:size=8;2
font-1 = Font Awesome 6 Free:pixelsize=8;2
font-2 = Font Awesome 6 Free Solid:pixelsize=8;2
font-3 = Font Awesome 6 Brands:pixelsize=10;2

cursor-click = pointer
cursor-scroll = ns-resize

enable-ipc = true


[bar/bottom]

width = {{ polybar_bars_bottom_width }}
height = {{ polybar_bars_bottom_height }}
radius = {{ polybar_bars_bottom_radius }}
monitor = ${env:MONITOR:}
bottom = true
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3pt

border-size = {{ polybar_bars_bottom_border_size }}
border-color = ${colors.padding}

padding-left = 0
padding-right = 1

module-margin = 1
modules-right = {{ polybar_bars_bottom_modules_right }} 

separator = {{ polybar_bars_bottom_separator }} 
separator-foreground = ${colors.disabled}

font-0 = monospace:size=8;2
font-1 = Font Awesome 6 Free:pixelsize=8;2
font-2 = Font Awesome 6 Free Solid:pixelsize=8;2
font-3 = Font Awesome 6 Brands:pixelsize=8;2

cursor-click = pointer
cursor-scroll = ns-resize

enable-ipc = true
