[colors]

background = {{ polybar_color_scheme.background }}
background-alt = {{ polybar_color_scheme.background_alt }}
foreground = {{ polybar_color_scheme.foreground }}
foreground-alt = {{ polybar_color_scheme.foreground_alt }}
primary = {{ polybar_color_scheme.primary }}
secondary = {{ polybar_color_scheme.secondary }}
alert = {{ polybar_color_scheme.alert }}
disabled = {{ polybar_color_scheme.disabled }}
icon = {{ polybar_color_scheme.icon }}
padding = {{ polybar_color_scheme.padding }}