[colors]

background = {{ polybar_color_background }}
background-alt = {{ polybar_color_background_alt }}
foreground = {{ polybar_color_foreground }}
foreground-alt = {{ polybar_color_foreground_alt }}
primary = {{ polybar_color_primary }}
secondary = {{ polybar_color_secondary }}
alert = {{ polybar_color_alert }}
disabled = {{ polybar_color_disabled }}
