[module/blue_dollar]

type = custom/script
exec = ~/.config/polybar/scripts/blue_dollar.sh
interval = 5

[module/mep_dollar]

type = custom/script
exec = ~/.config/polybar/scripts/mep_dollar.sh
interval = 5
