user: {{ lsd_color_schema.primary }}
group: {{ lsd_color_schema.primary }}
permission:
  read: {{ lsd_color_schema.primary }}
  write: {{ lsd_color_schema.primary }}
  exec: {{ lsd_color_schema.primary }}
  exec-sticky: {{ lsd_color_schema.primary }}
  no-access: {{ lsd_color_schema.primary }}
  octal: {{ lsd_color_schema.primary }}
  acl: {{ lsd_color_schema.primary }}
  context: {{ lsd_color_schema.primary }}
date:
  hour-old: {{ lsd_color_schema.primary }}
  day-old: {{ lsd_color_schema.primary }}
  older: {{ lsd_color_schema.primary }}
size:
  none: {{ lsd_color_schema.primary }}
  small: {{ lsd_color_schema.primary }}
  medium: {{ lsd_color_schema.primary }}
  large: {{ lsd_color_schema.primary }}
inode:
  valid: {{ lsd_color_schema.primary }}
  invalid: {{ lsd_color_schema.primary }}
links:
  valid: {{ lsd_color_schema.primary }}
  invalid: {{ lsd_color_schema.primary }}
tree-edge: {{ lsd_color_schema.primary }}
git-status:
  default: {{ lsd_color_schema.primary }}
  unmodified: {{ lsd_color_schema.primary }}
  ignored: {{ lsd_color_schema.primary }}
  new-in-index: {{ lsd_color_schema.primary }}
  new-in-workdir: {{ lsd_color_schema.primary }}
  typechange: {{ lsd_color_schema.primary }}
  deleted: {{ lsd_color_schema.primary }}
  renamed: {{ lsd_color_schema.primary }}
  modified: {{ lsd_color_schema.primary }}
  conflicted: {{ lsd_color_schema.primary }}