client.focused          {{ i3_client_focused_border }} {{ i3_client_focused_background }} {{ i3_client_focused_text }} {{ i3_client_focused_indicator }}
client.focused_inactive {{ i3_client_focused_inactive_border }} {{ i3_client_focused_inactive_background }} {{ i3_client_focused_inactive_text }} {{ i3_client_focused_inactive_indicator }}
client.unfocused        {{ i3_client_unfocused_border }} {{ i3_client_unfocused_inactive_background }} {{ i3_client_unfocused_inactive_text }} {{ i3_client_unfocused_inactive_indicator }}
