# --- Global ---

# Leader

set $mod {{ i3_keybinding_leader }}

# Workspaces

{% for name in i3_keybinding_workspace_group.workspaces %}
{% set index = loop.index %}
set $ws{{ index }} "{{ index }}: {{ name }}"
{% endfor %}

# Font

font {{ i3_font_name }}:{{ i3_font_type }} {{ i3_font_size }}


# --- All the rest ---

include {{ i3_subconfig_directory }}/*

gaps inner {{ i3_gaps_inner }}
gaps outer {{ i3_gaps_outer }}
