include {{ i3_config_directory }}/01-keybindings.conf
include {{ i3_config_directory }}/02-window-rules.conf
include {{ i3_config_directory }}/03-apparence.conf
include {{ i3_config_directory }}/04-fonts.conf
include {{ i3_config_directory }}/05-exec.conf
